* {
	box-sizing: border-box;
	outline:none;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
}

a {
	color:cornflowerblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border:none;
}

img {
	max-width:100%;
}

.wrapper {
	/* margin:10px; /* applies to all sides */
	margin:0 auto; /* margin:<vertical> <horizontal>; */
	/* margin:10px 20px 30px; /* top horizontal-sides bottom */
	/* margin:10px 40px 30px 20px; /* top, right, bottom, left */
	padding:20px; /* padding is applied to all sides */
	max-width:720px;
}

body > header {
	/* RR,GG,BB */
	/* BLACK: 00,00,00 => 0,0,0 */
	/* WHITE: FF,FF,FF => F,F,F */

	/* HEXADECIMAL: 16-base number system */
	/* 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F */
	/*
		00 -> 0
		01 -> 1
		02 -> 2
		03 -> 3
		04 -> 4
		05 -> 5
		06 -> 6
		07 -> 7
		08 -> 8
		09 -> 9
		0A -> 10
		0B -> 11
		0C -> 12
		0D -> 13
		0E -> 14
		0F -> 15
		10 -> 16
		11 -> 17
		12 -> 18
		.
		.
		.
		FF -> 255

		255 -> 11111111
	*/
	background-color: rgb(171, 230, 76);
}

body > footer {
	background-color: rgb(198, 146, 247);
}